.loading {
   display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    margin-top: 100vh;
    
}

.container {
    margin-bottom:50px;
}

.card {
    margin:3% 2% !important;
    text-align: center;
}

.infected {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(121,9,43,1) 61%, rgba(255,0,0,1) 88%);
}


.infected,
.recovered,
.death {
     color: #fff!important;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75)!important;
    transition: 1s!important;
    transition-delay: 250 !important;
    cursor: pointer;
}

.infected:hover {
    background:#e70b0b !important;
}
.recovered {
     background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,168,255,1) 85%, rgba(89,190,255,1) 100%);
}

.recovered:hover {
    background: #3992e8!important;
}
.death {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(255,89,98,1) 0%, rgba(0,194,255,0.7651435574229692) 100%);
}

.death:hover {
    background: #e83939!important;
}


@media (min-width:801px) {
    .card {
        width: 450px;
        margin:50% 0;
        text-align: initial;
    }
    .container {
        margin-top: -5%;
    }
}



